body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
/*..........Top Bar area start........*/
.text-highilight{
    color: #ff4800;
}
h1{
    font-size: 55px;
    font-weight: 600;
    line-height: 40px;
}
h2{
    font-size: 45px;
    font-weight: 600;
    line-height: 40px;
}

.left-contant{
    width: 50%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    text-align: justify;
}
.right-contant{
    width: 41%;
    float: right;
    margin-top: 20px;
    
}
img{
    width: 80%;
    padding: 10px;
    transition: 0.5s;
}
a{
    text-decoration: none;
    background-image:linear-gradient(-45deg,#9c8cd6 ,#6904ee);
    border: 1px solid;
    padding: 7px 25px;
    border-radius: 5px;
    font-weight: 600;
    color: #ffffff;
    
} 
.right-contant img:hover{
    box-shadow:7px 7px 15px #414242;
    cursor: pointer;
}
#top-bar{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}


/*..................Top Bar area End............*/



/*..............Dream area start.............*/
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.dream-area img{
    margin-top: -100px;
}
.dream-area img:hover{
    box-shadow:7px 7px 15px #414242;
    cursor: pointer;
}
.main{
    margin: 2%;
    padding-right:100px;
}
.main p{
    text-align: justify;
}
.main a{
    background-image: linear-gradient(45deg,#dd6b00,#faa404);
}


/*..............Dream area End.............*/

/*--..............Loaer area start.........*/

.experience-area{
    padding-top:150px;
    width: 90%;
} 
.half-area{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    box-shadow: 10px 10px 40px #918d8d;
    transition: 0.5s;
    height: 80%;
} 
.half-area:hover{
    box-shadow: 0 0 0 ;
    border-left: none;
    background-color: white;
}  
#border{
    border-left: 7px solid black;
    border-image:linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
.another-area{
    width: 40%;
    float: right;
    margin-left:5%;
    padding: 2%;
    box-shadow: 10px 10px 40px #918d8d;
    transition: 0.5s;
    height: 80%;
}
.another-area:hover{
    box-shadow: 0 0 0 ;
    border-left: none;
}
#border1{
    border-left: 7px solid black;
    border-image:linear-gradient(360deg,blue,cyan);
    border-image-slice: 1;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom:100px;
}
footer{
    height: 300px;
    background-color: #ebe4e4;
}
footer p{
    padding-top:250px;
    text-align: center;
    font-size: 14px;
}
